<div class="field">
	<label for="{{name}}" class="field__label">{{label}}</label>
	<input oninput="console.log(this)" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}"
		class="field__input">
</div>